<div class="sidebar">
    <h2>Serenity Admin</h2>
    <ul>
        <li><a href="{% url 'admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="{% url 'admin_residents' %}"><i class="fas fa-users"></i> Residents</a></li>
        <li><a href="{% url 'admin_bookings' %}"><i class="fas fa-calendar"></i> Bookings</a></li>
        <li><a href="{% url 'admin_feedback' %}"><i class="fas fa-comment"></i> Feedback</a></li>
        <li><a href="{% url 'admin_laundry' %}"><i class="fas fa-shirt"></i> Laundry</a></li>
        <li><a href="{% url 'admin_reports' %}"><i class="fas fa-file"></i> Reports</a></li>
    </ul>
</div>